/*
** Style Simple Ecommerce Theme for Bootstrap 4
** Created by T-PHP https://t-php.fr/43-theme-ecommerce-bootstrap-4.html
*/
.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
    margin-top: 20px;
}
footer a {
    color: #f8f9fa!important
}
.bgc{
    background-image: url(images/img1.jpg);
    /*background-image: url("https://file.hstatic.net/200000722513/file/pc_tet_-_slider_45be4c3cc88d4da2a6eb06459ba271c2.jpg");*/
}
.show_txt{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
a .active{
    color: white;
}




/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('https://w.ladicdn.com/s2500x700/5bf3dc7edc60303c34e4991f/untitled-1-34-1-20240108084754-3z2_h.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}

.carousel-item:nth-child(2) {
    background-image: url('https://file.hstatic.net/200000722513/file/pc_tet_-_slider_45be4c3cc88d4da2a6eb06459ba271c2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}

.carousel-item:nth-child(3) {
    background-image: url('https://file.hstatic.net/200000722513/file/pc_tet_-_slider_45be4c3cc88d4da2a6eb06459ba271c2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }
}

.navbar{
    color: #fff !important;
}
/*.navbar .nav-link {
    color: #fff !important;
}*/